body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  padding: 20px;
  background-color: #e6e2e2eb;
  color: rgb(239, 81, 81);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.hero {
  text-align: right;
  padding: 50px 20px;
  background-color: #e6e2e2eb;
}

.hero h1 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-right: 295px;
}

.hero p {
    max-width: 600px; /* Adjust width as needed */
    text-align: left;
    font-size: 20px;
    margin-left: 650px;
    margin-bottom: 7px;
    padding: 20px;
}

.hero button {
  padding: 10px 10px;
  font-size: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 448px;
}

.hero button:hover {
  background-color: #0056b3;
}

.content {
  max-width: 1200px;
  margin: 50px auto;
  padding: 2px;
  text-align: left;
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.feature {
  flex: 1;
  padding: 20px;
  background-color: #e6e2e2eb;;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}